---
layout: default
---

<div class="demo">

	<header class="container">
		<div class="row">
			<div class="fourcol">
				<h1></h1>	
			</div>
			<div class="eightcol last">
				<a class="btn-medium first" href="{{site.baseurl}}/archive/" title="archive">Archive</a>
			</div>
		</div>
	</header>

	<div class="container demo">
		
	</div>
</div>
	
<div class="container info">


	    <div class="row">
			
			<div class="twelvecol">

				<h2 class="bloglink posttitle">{{ page.title }}</h2>
					<hr class="archive-line"/> 
					<h4 class="author-name">{{ page.author }}</h4>

				<div class="blog-content"> 

					{{ content }} 

				</div>

			</div>
		</div>

</div>